
<div class="ui centered cards">
  <div class="card">
    <div class="content">
      <div class="header">Got something new?</div>
      <div class="description">
        Any book you just read? A friend recommended you an book and you don't want to forget it? Add it here!
      </div>
    </div>
    <div class="ui bottom attached button" (click)="openNewBookDetails()">
      <i  class="add icon"></i>
      Add book
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<div class="ui modal">
  <div class="header">Add Information for a book</div>
  <div class="content">
    <app-book-details (showValueChange)='changeShowValue($event)' [show]='show'></app-book-details>
  </div>
</div>

<h4 class="ui horizontal divider header">
  <i class="book icon"></i>
  Books you're reading now
</h4>
<div>
  <app-books-section (showValueChange)='changeShowValue($event)' sectionName='Reading Now' statusToShow='Reading'></app-books-section>
</div>

<h4 class="ui horizontal divider header">
  <i class="briefcase icon"></i>
  Books you already read
</h4>

<div>
  <app-books-section (showValueChange)='changeShowValue($event)' sectionName='Already read' statusToShow='Read'></app-books-section>
</div>

<h4 class="ui horizontal divider header">
  <i class="calendar icon"></i>
  Books you are planning to read
</h4>

<div>
  <app-books-section (showValueChange)='changeShowValue($event)' sectionName='I want to read' statusToShow='Planned'></app-books-section>
</div>