<form [formGroup]="detailsForm" class="ui large form segment">
  <h3 class="ui header">Book's Information</h3>
  <div class="field">
    <label>Title</label>
    <input type="text" name="new-title" #newtitle placeholder="Title" value={{getTitleToDisplay()}}>
  </div>
  <div class="field">
    <label>Author</label>
    <input type="text" name="new-author" #newauthor placeholder="Author" value={{getAuthorToDisplay()}}>
  </div>
  <div class="field">
    <label for="genre">Genre:</label>
    <select formControlName="genreControl" class="ui dropdown" #newgenre>
      <option [value]="genre" *ngFor="let genre of genres"> {{genre}}</option>
    </select>
  </div>

  <div class="field">
    <label for="status">Status:</label>
    <select formControlName="statusControl" class="ui dropdown" #newstatus>
      <option [value]="status" *ngFor="let status of statuses"> {{status}}</option>
    </select>
  </div>

  <div class="field">
    <label>Notes</label>
    <textarea rows="2" #newnotes value={{getDescriptionToDisplay()}}></textarea>
  </div>

  <div class="ui buttons right floated">
    <button class="ui button" (click)="closeBookDetails()"> Cancel</button>
    <div class="or"></div>
    <button (click)="saveBookDetails(newtitle, newauthor, newgenre, newstatus, newnotes)"  class="ui positive button">Save</button>
  </div>

  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
</form>