.ui.raised.segment {
    position: relative;
  }

  /*
  .ui.raised.segment:hover {
    background: #97B6F5;
  }
  */

  .ui.segment.form {
    background-color: #F1F9FF;
    margin-top: 2em;
  }

  .logo.small {
    height: 70px;
  }

 .bottomButton {
    position: absolute;
    bottom: 0px;
    right: 0;
 }

 .buttonHolder{ text-align: center; }