.ui.raised.segment {
    position: relative;
  }

  /*
  .ui.raised.segment:hover {
    background: #97B6F5;
  }
  */

 .bottomButton {
    position: absolute;
    bottom: 0px;
    right: 0;
 }

 .buttonHolder{ text-align: center; }